/src/library-angular/wwwroot/main.js
/src/library-angular/wwwroot/polyfills.js
/src/library-angular/node_modules
/src/library-angular/obj
/src/library-angular/bin
/src/library-angular/Scripts/polyfills.js.map
/src/library-angular/Scripts/app.component.js
/src/library-angular/Scripts/app.component.js.map
/src/library-angular/Scripts/app.js
/src/library-angular/Scripts/app.js.map
/src/library-angular/Scripts/polyfills.js
/src/library-angular/Scripts/main.js
/src/library-angular/Scripts/main.js.map
